@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "Montserrat Bold";
  src: url("../fonts/rv-montserrat-bold.ttf");
}
@font-face {
  font-family: "Montserrat Light";
  src: url("../fonts/rv-montserrat-light.ttf");
}
@font-face {
  font-family: "Montserrat Regular";
  src: url("../fonts/rv-montserrat-regular.ttf");
}
@font-face {
  font-family: "Montserrat Semibold";
  src: url("../fonts/rv-montserrat-semibold.ttf");
}
@font-face {
  font-family: "Source Serif";
  src: url("../fonts/SourceSerifPro-Semibold.otf");
}
@font-face {
  font-family: "Source Serif-Reg";
  src: url("../fonts/SourceSerifPro-Regular.ttf");
}
