@font-face {
  font-family: "Open Sans Bold";
  src: url("../Fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "Open Sans Regular";
  src: url("../Fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "Montserrat Bold";
  src: url("../Fonts/rv-montserrat-bold.ttf");
}
@font-face {
  font-family: "Montserrat Light";
  src: url("../Fonts/rv-montserrat-light.ttf");
}
@font-face {
  font-family: "Montserrat Regular";
  src: url("../Fonts/rv-montserrat-regular.ttf");
}
@font-face {
  font-family: "Montserrat Semibold";
  src: url("../Fonts/rv-montserrat-semibold.ttf");
}
@font-face {
  font-family: "Source Serif";
  src: url("../Fonts/SourceSerifPro-Semibold.otf");
}
