body {
  max-width: 1440px;
}
.sticky {
  background: $darkpurple;
  position: fixed;
  top: 0;
}
.addpadding {
}

//HERO AND MAIN NAV BEGINS
.hero__container {
  position: relative;
  background-image: url("../img/newbgheroimg.jpg");
  background-repeat: no-repeat;

  font-family: $rvfont;

  width: 100%;
  height: 419px;
  text-align: center;

  .hero__nav {
    top: 0;
    display: flex;
    height: 90px;
    width: 1440px;

    align-items: center;
  }
  .fixed {
    //MAKES THE NAV STICKY ON SECOND PAGE
    position: fixed;
    top: 0;
  }
  .topnav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
  }
  .hero__nav--icon {
    height: 49px;
    width: 49px;
    margin-left: 38px;
  }
  .hero__nav__items {
    padding: 0;
    display: flex;
    font-family: $rvfont;
    justify-content: space-evenly;
    width: 667px;
    height: 24px;
    margin-top: 12px;
    margin-bottom: 13px;
    letter-spacing: 0.86px;

    @include upper();
    li {
      color: $white;
      font-size: 12px;
      @include underlineHover();
      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }
  .hero__nav__hamburger {
    margin: 0 40px;
  }
  .hero__text__container {
    font-size: 3em;
    .hero__text--yellow {
      font-size: 18px;
      font-weight: normal;
      color: #fdd835;
      @include upper();
      letter-spacing: 3px;
    }
    .hero__text--big {
      font-size: 54px;
      font-weight: bold;
      color: $white;
    }
    .hero__text--small {
      font-size: 16px;
      color: $white;
      font-family: Georgia, "Times New Roman", Times, serif;
    }
  }
}

.blog__nav__items {
  letter-spacing: 0.75px;

  // width: 1143px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  margin: 42px 135px 40px 135px;

  align-items: center;
  line-height: 48px;

  @include upper();
  list-style: none;
  li {
    margin-top: 12px;
    margin-bottom: 3px;
    font-size: 13px;

    a {
      text-decoration: none;
      color: black;
    }
  }

  .blog__nav__active a {
    padding: 10px;
    border-bottom: #536dfe 3px solid;
  }
  .blog__nav__btn--purple {
    margin: 0 0 0 101px;
    width: 178px;
    font-weight: 600;

    background: $purple;
    color: $white;
    text-align: center;
    border-radius: 2px;
    a {
      text-decoration: none;
      color: $white;
    }
  }
}

.main {
  margin: auto;

  max-width: 1170px;
}
.main__blog {
  display: flex;
  align-items: center;

  height: 500px;
  background: $white;
  box-shadow: $shadow;

  .main__blog__image {
    order: -1;
    max-height: 441px;
    width: 441px;
    margin: 30px 42px 29px 30px;
  }
  .main__blog--text {
    max-width: 608px;
    max-height: 410px;
    a{
      justify-content: center;
    }

    display: flex;
    flex-direction: column;
    .main__blog--divider {
      background: #eeeeee;
      height: 1px;
      width: 620px;
    }

    .main__blog__logo--small {
      order: -1;

      border: 1px solid #3949ab;
      border-radius: 100px;
      text-decoration: none;
      width: 92px;
      height: 25px;
      font-size: 12px;
      color: #3949ab;
      letter-spacing: 0;
      text-align: center;
      display: flex;
      align-items: center;
      @include upper();

      p {
        text-align: center;
        margin: 0 auto;
      }
    }
    .main__blog__header {
      font-family: $rvfont;

      font-size: 42px;
      color: #424242;
      letter-spacing: 0;
      line-height: 50px;
      font-weight: bold;
      a {
        text-decoration: none;
        color: #000;
        &:hover {
          color: $darkpurple;
        }
      }
    }
    .main__blog--small {
      font-family: Georgia;
      font-size: 18px;
      color: rgba(0, 0, 0, 0.8);
      letter-spacing: 0;
      line-height: 30px;
    }
    .main__blog__credits {
      // align-self: baseline;
      display: flex;
      flex-flow: column wrap;
      height: 41px;
      width: 145px;
      margin-top: 20px;

      justify-content: center;

      .main__blog__credits__text {
        margin-left: 15px;

        .credits__author {
          font-family: $rvfont;
          font-size: 12px;
          color: #424242;
          letter-spacing: 0.86px;

          font-weight: 600;
          line-height: 1;
          text-transform: uppercase;
        }
        p, time {
          font-family: Georgia;

          font-size: 12px;
          color: #757575;
          letter-spacing: 0.86px;
          line-height: 0;
        }
      }
    }
  }
}

.articles {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .sub {
    margin-top: 30px;

    width: 370px;
    max-height: 549px;
    box-shadow: $shadow;

    .sub__topcontent {
      height: calc(549px - 81px);
      display: flex;
      flex-direction: column;
      padding: 30px 30px 0 30px;
      padding-bottom: 0;
      border-bottom: 1px solid #eeeeee;
    }

    .sub__bottomcontent {
      height: 61px;

      .blog__credits {
        order: 5;

        display: flex;
        flex-flow: column wrap;

        height: 41px;
        width: 156px;
        justify-content: center;
        padding: 30px 20px;
        .blog__credits__text {
          line-height: 0.5;
          margin-left: 15px;
          .blog__credits__author {
            font-family: $rvfont;
            font-size: 12px;
            color: #424242;
            letter-spacing: 0.86px;

            font-weight: 600;
            line-height: 1;
            text-transform: uppercase;
          }
          p, time {
            font-family: $rvfont;
            font-size: 12px;
            color: #757575;
            letter-spacing: 0.86px;
            line-height: 0;
          }
        }
      }
    }
    .sub__text--big {
      font-family: $rvfont;
      font-weight: bold;
      font-size: 26px;
      color: #424242;
      letter-spacing: 0;
      line-height: 34px;
      order: 2;
      margin: 0;
    }

    .sub__text--small {
      order: 4;

      font-family: Georgia;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.8);
      letter-spacing: 0;
      line-height: 19px;
    }

    .blog__special {
      order: 1;
      margin: 30px 0px 16px 0;
      border: 1px solid #3949ab;
      border-radius: 100px;
      text-decoration: none;
      width: 142px;
      height: 25px;
      font-size: 12px;
      color: #3949ab;

      display: flex;
      align-items: center;
      @include upper();
      p, time {
        text-align: center;
        margin: 0 auto;
      }
    }

    .blog--small__logo {
      order: 1;
      margin: 30px 0px 16px 0;
      border: 1px solid #3949ab;
      border-radius: 100px;
      text-decoration: none;
      width: 92px;
      height: 25px;
      font-size: 12px;
      color: #3949ab;
      display: flex;
      align-items: center;
      @include upper();
      justify-content: center;
      p,time, a {
        text-align: center;
        margin: 0 auto;

      }
    }
  }
  .morearticles {
    width: 1171px;
    height: 48px;
    display: flex;
    margin-top: 76px;
    margin-bottom: 94px;
    justify-content: space-between;
    align-items: center;
    .morearticles__break {
      width: 401px;
      height: 1px;
      background-color: #d8d8d8;
    }
    .morearticles__link {
      font-family: $rvfont;
      font-weight: 600;
      height: 48px;
      width: 249px;
      background-color: #536dfe;
      font-size: 14px;
      @include upper();
      letter-spacing: 0.24px;
      line-height: 14px;
      a {
        text-decoration: none;
        color: #ffffff;
        text-align: center;
      }
    }
  }
}

.hero--icon{
  background-image: url('../img/hero__menu__icon.png');
  background-size: cover;
  width: 69px;
  height: 69px;
  padding: 0;
  display: block;
}
//MAIN BLOGS ENDS
